// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  h1{
    font-size: 40px;
    line-height: 45px;
  }

  h2{
    font-size: 35px;
    line-height: 40px;
  }

  h3{
    font-size: 30px;
    line-height: 35px;
  }

  h4{
    font-size: 25px;
    line-height: 30px;
  }

  h5{
    font-size: 20px;
    line-height: 25px;
  }

  p{
    font-size: 16px;
  }
}
