// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .hero{
    height: 100vh;
    min-height: 650px;
  }

  .hero__text-container{
    padding: 25px;
  }

  #slide1 .hero__text-container{
    bottom: 10px;
    top: 135px;
    left: 15px;
  }

  #slide2 .hero__text-container{
    top: 135px;
    left: 300px;
  }

  #slide3 .hero__text-container{
    top: 135px;
    left: 15px;
  }

  .welcome{
    margin-top: $sectionTopMarginLarge;
  }

  .welcome__title{
    margin-bottom: $titleBottomMarginLarge;
  }

  .welcome__subtitle{
    margin-bottom: $subtitleBottomMarginLarge;
  }

  .introduction{
    margin-top: $sectionTopMarginLarge;
    padding: 0 80px;
  }

  .introduction__title{
    margin-bottom: $titleBottomMarginLarge;
  }

  .introduction__subtitle{
    margin-bottom: $subtitleBottomMarginLarge;
  }

  .numbers{
    margin-top: $sectionTopMarginLarge;
  }

  .numbers__title{
    margin-bottom: $titleBottomMarginLarge;
  }

  .form{
    padding: 100px 0;
  }

  .logos{
    margin-top: $sectionTopMarginLarge;
  }

}
