// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm){
  .hero__text-container{
    width: 350px;
    margin: 0;
    top: 35px ;
    left: 70px;
  }

  #slide2{
    background-position: center;
  }

  .form{
    padding: 50px 80px;
  }
}
