// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .hero__text-container{
    width: 350px;
    top: 200px;
    left: 200px;
  }

  .hero__text-top{
    font-size: 18px;
  }

  .hero__text-header{
    font-size: 30px;
  }

  .hero__text{
    font-size: 18px;
    line-height: 25px;
  }
}
