// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .hero__text-top{
    font-size: 18px;
  }

  .hero__text-header{
    font-size: 30px;
  }

  .hero__text{
    font-size: 18px;
    line-height: 25px;
  }

  #slide1 .hero__text-container{
    top: 140px;
    //left: 63%;
  }

  #slide2 .hero__text-container{
    left: 50%;
  }

  #slide3 .hero__text-container{
    left: 69%;
  }

  .logo{
    margin-bottom: 90px;
  }
}
